@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div class="container g-pt-100 g-pb-50">
<div class="row">
<!-- Articles Content -->
<div class="col-lg-9 g-mb-50 g-mb-0--lg">
<!-- Article -->
<article class="text-center g-mb-100">
    <!-- Category & Date -->
    <ul class="list-inline g-color-secondary-dark-v1 g-font-weight-600 g-font-size-12 text-uppercase mb-3">
        <li class="list-inline-item g-mr-10">
            <i class="align-middle g-color-primary mr-1 icon-communication-020 u-line-icon-pro"></i>
            <a class="g-font-weight-700" href="#">Fashion</a>
        </li>
        <li class="list-inline-item">&#8226;</li>
        <li class="list-inline-item g-ml-10">
            <i class="align-middle g-color-secondary-dark-v1 mr-1 icon-education-124 u-line-icon-pro"></i>
            Aug 16, 2017
        </li>
    </ul>

    <!-- End Category & Date -->
    <!-- Info -->
    <div class="g-px-50 g-px-100--md mb-4">
        <h2 class="h3 mb-4">
            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Editta Sherman Gets Her Due at the New-York Historical Society</a>
        </h2>
        <div style="display: flex; justify-content: center; align-items: center;">
            <ul class="list-inline d-sm-flex my-0">
                <li class="list-inline-item g-mr-20">
                    <a class="u-link-v5 g-color-gray-dark-v4" href="#!" style="pointer-events: none;">
                        <i class="icon-like g-pos-rel g-top-1 g-mr-3"></i>
                        214
                    </a>
                </li>
                <li class="list-inline-item g-mr-20">
                    <a class="u-link-v5 g-color-gray-dark-v4" href="#!" style="pointer-events: none;">
                        <i class="icon-dislike g-pos-rel g-top-1 g-mr-3"></i>
                        35
                    </a>
                </li>
                <li class="list-inline-item g-mr-20">
                    <a class="d-inline-block g-color-secondary-dark-v1 g-color-primary--hover g-font-size-12 g-text-underline--none--hover g-px-5 g-py-4" href="#" style="pointer-events: none;">
                        <i class="align-middle mr-1 icon-finance-206 u-line-icon-pro"></i>
                        1
                    </a>
                </li>
            </ul>
        </div>
        <br/>
        <p>The name Editta Sherman may not ring a bell, but she was the blithe spirit who flitted through “Bill Cunningham New York,” about the New York Times’s street-fashion photographer, who died in 2016.</p>
    </div>

    <!-- End Info -->
    <div class="g-mb-25">
        <a class="g-font-weight-600 g-font-size-13 text-uppercase" href="bm-classic-single-2.html">Read More</a>
    </div>
    <div class="u-divider u-divider-solid u-divider-center g-brd-gray-light-v3 g-my-80">
        <i class="fa fa-circle u-divider__icon g-bg-white g-color-gray-light-v3"></i>
    </div>
</article>
<!-- End Article -->

<div id="stickyblock-end"></div>
<!-- Pagination -->
<nav class="g-pb-50" aria-label="Page Navigation">
    <ul class="list-inline text-center mb-0">
        <li class="list-inline-item">
            <a class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-secondary-light-v2 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded g-pa-5" href="#">1</a>
        </li>
        <li class="list-inline-item">
            <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-secondary-dark-v1 g-bg-primary--active g-font-size-12 rounded g-pa-5" href="#">2</a>
        </li>
        <li class="list-inline-item g-hidden-xs-down">
            <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-secondary-dark-v1 g-bg-primary--active g-font-size-12 rounded g-pa-5" href="#">3</a>
        </li>
        <li class="list-inline-item">
            <span class="g-width-30 g-height-30 g-color-gray-dark-v5 g-font-size-12 rounded g-pa-5">...</span>
        </li>
        <li class="list-inline-item g-hidden-xs-down">
            <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-secondary-dark-v1 g-bg-primary--active g-font-size-12 rounded g-pa-5" href="#">15</a>
        </li>
        <li class="list-inline-item">
            <a class="u-pagination-v1__item g-brd-secondary-light-v2 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded g-px-15 g-py-5 g-ml-15" href="#" aria-label="Next">
                <span aria-hidden="true">
                    Next
                    <i class="ml-2 fa fa-angle-right"></i>
                </span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
<!-- End Pagination -->
</div>
</div>
</div>