<footer class="g-bg-secondary">

<div class="container">
    <div class="w-100 g-brd-bottom--md g-brd-secondary-light-v2 g-pb-40--md g-mb-40"></div>

<!-- Footer - Top Section -->
<div class="g-brd-bottom g-brd-secondary-light-v2 g-mb-30">
    <div class="row align-items-center">
        <div class="col-md-4 g-hidden-sm-down g-mb-30">
            <!-- Logo -->
            <a href="Home/Index">
                <img class="g-width-150" src="/icon.png" alt="Logo">
            </a>
            <!-- End Logo -->
        </div>

        <div class="col-md-4 ml-auto g-mb-30">
            <!-- Social Icons -->
            <ul class="list-inline mb-0">
                <li class="list-inline-item g-mx-2">
                    <a class="u-icon-v2 u-icon-size--sm g-brd-secondary-light-v2 g-color-secondary-dark-v2 g-color-white--hover g-bg-primary--hover g-font-size-default rounded" href="#!"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Like Us on Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item g-mx-2">
                    <a class="u-icon-v2 u-icon-size--sm g-brd-secondary-light-v2 g-color-secondary-dark-v2 g-color-white--hover g-bg-primary--hover g-font-size-default rounded" href="#!"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Follow Us on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item g-mx-2">
                    <a class="u-icon-v2 u-icon-size--sm g-brd-secondary-light-v2 g-color-secondary-dark-v2 g-color-white--hover g-bg-primary--hover g-font-size-default rounded" href="#!"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Join Our Cirlce on Google Plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
            <!-- End Social Icons -->
        </div>
    </div>
</div>
<!-- End Footer - Top Section -->

<!-- Footer - Bottom Section -->
<div class="row align-items-center">
    <div class="col-md-2 g-brd-right--md g-brd-secondary-light-v2 g-mb-30">
        <!-- Copyright -->
        <p class="g-color-secondary-light-v1 g-font-size-12 mb-0">&copy; 2018 Idea Collecting System.</p>
        <!-- End Copyright -->
    </div>

    <div class="col-md-8 g-brd-right--md g-brd-secondary-light-v2 g-mb-30">
        <!-- Links -->
        <ul class="list-inline mb-0">
            <li class="list-inline-item g-pl-0 g-pr-10">
                <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="#!">Contact Us</a>
            </li>
            <li class="list-inline-item g-px-10">
                <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="#!">Help</a>
            </li>
            <li class="list-inline-item g-px-10">
                <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="#!">Work with Us</a>
            </li>
            <li class="list-inline-item g-px-10">
                <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="#!">Advertise</a>
            </li>
            <li class="list-inline-item g-px-10">
                <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="#!">Privacy</a>
            </li>
            <li class="list-inline-item g-px-10">
                <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="#!">Terms of Use</a>
            </li>
            <li class="list-inline-item g-px-10">
                <a class="u-link-v5 g-color-secondary-light-v1 g-font-size-12" href="#!">Send Feedback</a>
            </li>
        </ul>
        <!-- End Links -->
    </div>

</div>
<!-- End Footer - Bottom Section -->
</div>
</footer>
